Осуществим подключение к бд

In [1]:
%load_ext sql
%sql sqlite:///lab_2.db

D:\Proggramms\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

'Connected: @lab_2.db'

In [ ]:
Создадим таблицу студентов, групп, городов и факультетов

In [8]:
%%sql 
drop table if exists Students;

CREATE TABLE Students 
(
    student_id integer primary key, 
    Name varchar(50),
    SecondName varchar(50), 
    Faculty_id integer,
    city_id integer,
    group_id integer
    GPA number
);

drop table if exists Faculties;
CREATE TABLE Faculties
(
id integer primary key,
name varchar(50)
);

drop table if exists Groups; 
Create table Groups
(
id integer primary key,
name varchar(50)
);

drop table if exists Cities; 
Create table Cities
(
id integer primary key,
name varchar(50)
);

 * sqlite:///lab_2.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Задание 1 
Перепишите создание таблиц с учетом наличия внешних ключей

In [10]:
%%sql 
drop table if exists Students;

CREATE TABLE Students 
(
    student_id integer primary key, 
    Name varchar(50),
    SecondName varchar(50), 
    Faculty_id integer,
    city_id integer,
    group_id integer,
    GPA number,
    foreign key (Faculty_id) references Faculties (id)
    foreign key (group_id) references Groups (id)
    foreign key (city_id) references Cities (id) 
);

drop table if exists Faculties;
CREATE TABLE Faculties
(
id integer primary key,
name varchar(50)
);

drop table if exists Groups; 
Create table Groups
(
id integer primary key,
name varchar(50)
);

drop table if exists Cities; 
Create table Cities
(
id integer primary key,
name varchar(50)
);

 * sqlite:///lab_2.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Задание 2
Осуществить вставку во все таблицы с учетом правил на внешние ключи

In [16]:
%%sql
insert into Students (Name, SecondName, GPA) values('Давид','Казак', 2.5);
insert into Faculties values(1,'IT');
insert into Groups values(1,'abc-1');
insert into Cities values(1,'Воронеж');

 * sqlite:///lab_2.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## Задание 3
Вывести Имя Студента, Название его факультета, группы и города проживания

In [ ]:
%%sql
SELECT Name FROM

## Задание 4
Вывести имена всех студентов, обучающихся на факультет IT из Воронежа.

## Задание 5
Для всевозможных пар (Факультет, Город) вывести количество студентов, соответствующее данной группе

## Задание 6 
Для всех групп вывести средний балл по группе для студентов, не проживающих в Москве, при условии, что количество таких студентов не менее 3